@page "/AddStore"
@inject NavigationManager Nav
@inject HttpClient Http

<div class="row">
    <div class="col-6">
        <h3>Add new store</h3>
        <button type="button" class="btn btn-secondary" @onclick=@(() => Nav.NavigateTo("/"))>Main page</button>
    </div>
    <div class="col-6 text-end d-inline-block">
        <img class="flags p-2" src="finnish.png" alt="FI" />
        <img class="flags p-2" src="english.png" alt="EN" />
        <img class="p-2" id="pagecolor" src="darkmode.png" alt="Light/Dark" />
    </div>
</div>

<EditForm Model="Model" OnSubmit="Create">
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="StoreName">Store Name</label>
                <InputText type="text" @bind-value="Name" class="form-control" id="StoreName" placeholder="Store Name" required></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="City">City</label>
                <InputText type="text" @bind-value="City" class="form-control" id="City" placeholder="City" required></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Address">Address</label>
                <InputText type="text" @bind-value="Address" class="form-control" id="Address" placeholder="Address"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Supervisor">Supervisor</label>
                <InputText type="text" @bind-value="Supervisor" class="form-control" id="Supervisor" placeholder="Supervisor"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Phone">Phone number</label>
                <InputText type="text" @bind-value="Phone" class="form-control" id="Phone" placeholder="Phone"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <div class="form-group">
                <label for="Email">Email</label>
                <InputText type="text" @bind-value="Email" class="form-control" id="Email" placeholder="Email"></InputText>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <button type="submit" @onclick="async () => await Create()" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-6">
            <h4>@Message</h4>
        </div>
    </div>
</EditForm>


@code {
    public Store? Model { get; set; }

    protected override void OnInitialized() => Model ??= new();

    public required string Name;
    public required string City;
    public required string Address;
    public string? Supervisor;
    public string? Phone;
    public string? Email;

    public string Message = string.Empty;

    private async Task Create()
    {
        var store = new Store(Name, City, Address, Supervisor, Phone, Email);
        var response = await Http.PostAsJsonAsync("http://localhost:5032/NewStore", store);
        //var result = await response.Content.ReadAsStringAsync();
        if (response.StatusCode == HttpStatusCode.OK)
        {
            Message = "Store added Succesfully";
        }
        else
        {
            Message = $"{response.StatusCode}: Failed to add new Store";
        }
        this.StateHasChanged();
    }
}
