@page "/AddStore"
@inject NavigationManager Nav

<h3>AddStore: Work in progress</h3>
<div class="col-auto py-3">
    <button type="button" class="stores btn-primary" @onclick=@(() => Nav.NavigateTo("/"))>Main page</button>
</div>

@code {

}
