@page "/BrowseStore/{id}"
@inject NavigationManager Nav

<h3>BrowseStore: Work in progress</h3>
<div class="col-auto py-3">
    <button type="button" class="stores btn-primary" @onclick=@(() => Nav.NavigateTo("/"))>Main page</button>
</div>

@code {
    [Parameter]
    public required string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await GetStoreData(id);
    }

    private async Task GetStoreData(string id)
    {
        // TODO: Get Products for specific store
    }
}